* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-image: url("../../giphy.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 20px auto;
  border-radius:10px;
  overflow: hidden;
  background:url("../IMG/defoult.jpg");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  
}
.main {
  width: 100%;
  height: auto;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: space-around;
}
.sub_container {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(170, 125, 125);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  flex-wrap: wrap;
  color: azure;
  
}

#apple {
  height: 100%;
  width: 100%;
  display: none;
  /* border-radius: 50%; */
}
#ball {
  height: 100%;
  width: 100%;
  display: none;
}
#cat {
  height: 100%;
  width: 100%;
  display: none;
}
#dog {
  height: 100%;
  width: 100%;
  display: none;
}
#elephant {
  height: 100%;
  width: 100%;
  display: none;
}
#fish {
  height: 100%;
  width: 100%;
  display: none;
}
#grapes {
  height: 100%;
  width: 100%;
  display: none;
}
#horse {
  height: 100%;
  width: 100%;
  display: none;
}
#ice-cream {
  height: 100%;
  width: 100%;
  display: none;
}
#jug {
  height: 100%;
  width: 100%;
  display: none;
}
#kite {
  height: 100%;
  width: 100%;
  display: none;
}
#lion {
  height: 100%;
  width: 100%;
  display: none;
}
#monkey {
  height: 100%;
  width: 100%;
  display: none;
}
#nest {
  height: 100%;
  width: 100%;
  display: none;
}
#orange {
  height: 100%;
  width: 100%;
  display: none;
}
#peacock {
  height: 100%;
  width: 100%;
  display: none;
}
#queen {
  height: 100%;
  width: 100%;
  display: none;
}
#rose {
  height: 100%;
  width: 100%;
  display: none;
}
#sun {
  height: 100%;
  width: 100%;
  display: none;
}
#telephone {
  height: 100%;
  width: 100%;
  display: none;
}
#umbrella {
  height: 100%;
  width: 100%;
  display: none;
}
#van {
  height: 100%;
  width: 100%;
  display: none;
}
#watch {
  height: 100%;
  width: 100%;
  display: none;
}
#x-ray {
  height: 100%;
  width: 100%;
  display: none;
}
#yak {
  height: 100%;
  width: 100%;
  display: none;
}

#zebra {
  height: 100%;
  width: 100%;
  display: none;
}
@media (width <=500px) {
  .container{
   width: 250px;
   height: 250px;
  }
  
}